.footer {
  text-align: center;
  margin-top: 9.5rem;
  font-size: var(--text-md);
}

.footer__text {
  color: var(--gray-6);
}

.link {
  color: inherit;
}

@media (min-width: 900px) {
  .footer {
    margin-top: 16rem;
  }
}
