.form-wrapper {
  width: 100%;
  max-width: var(--max-width-mobile);
}

.form-customer-details {
  margin-top: var(--space-md);
}

.form-customer-details .fieldset:nth-child(2) {
  margin-top: var(--space-md);
}

.form-customer-details .button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: var(--space-xs);
}

@media (min-width: 900px) {
  .form-customer-details {
    margin-top: 0;
  }
}
