.input__label {
  color: var(--gray-3);
  display: block;
  font-size: var(--text-xs);
  margin: 1.2rem 0 0.5rem;
}

.input__text {
  width: 100%;
  padding-left: 1.2rem;
}

.input__text::placeholder {
  color: var(--gray-4);
}

.input__wrapper_text {
  border: 1px solid var(--gray-4);
  font-size: var(--text-sm);
  border-radius: var(--border-radius-default);
  padding: 1.2rem;
  height: 4.1rem;

  display: flex;
  align-items: center;
}

.input__wrapper_text:before {
  content: "";
  width: 1.8rem;
  height: 1.8rem;

  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
}

.input__wrapper_text.-email:before {
  background-image: url(../../assets/images/email.svg);
}

.input__wrapper_text.-phone:before {
  background-image: url(../../assets/images/call.svg);
}

.input__wrapper_text.-account:before {
  background-image: url(../../assets/images/account_circle.svg);
}

.input__wrapper_text.-address:before {
  background-image: url(../../assets/images/home.svg);
}

.input__wrapper_text.-location:before {
  background-image: url(../../assets/images/location.svg);
}

.input__wrapper_text.-country:before {
  background-image: url(../../assets/images/world.svg);
}

.input__wrapper_text.-post_code:before {
  background-image: url(../../assets/images/postal.svg);
}

.input__wrapper_text.-country:after {
  content: "";
  width: 1.8rem;
  height: 1.8rem;

  display: block;

  background-color: #e0e0e0;
  border-radius: var(--border-radius-icon);

  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../../assets/images/arrow-down.svg);
  background-position-y: center;
}

.select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select:required:invalid {
  color: var(--gray-4);
}

option {
  color: var(--gray-2);
}

.row {
  display: flex;
}

.column {
  flex: 1;
}

.column:first-child {
  margin-right: 2.4rem;
}

.remember_next_time {
  display: flex;
  align-items: center;
}

.remember_next_time input {
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .input__label {
    font-size: var(--text-sm);
    margin: 1.5rem 0 1rem;
  }

  .input__wrapper_text {
    height: 5.6rem;
    font-size: var(--text-mdx);
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }

  .input__wrapper_text:before {
    width: 2rem;
    height: 1.8rem;
  }

  .remember_next_time input {
    width: 2.1rem;
    height: 2.1rem;
    margin-right: 1rem;
  }
}

.message {
  flex: 1;
  font-size: var(--text-md);
  display: none;
}

.error-text {
  color: #ff0000;
}

.success-text {
  color: var(--orange-1);
}

.error {
  border: 1px solid #ff0000;
}

.show {
  display: block;
}
